name: Sync Upstream

on:
  #schedule:
    #- cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: write
  
jobs:
  sync:
    runs-on: ubuntu-slim
    steps:
      - name: Checkout my repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main

      - name: Sync with upstream
        uses: aormsby/Fork-Sync-With-Upstream-action@v3.4.1   
        with:
          upstream_repository: B-blaow/AutoBuild-OpenWrt
          upstream_branch: main
          target_branch: main
          
        
          # 可选：如果想强制 fast-forward（推荐无冲突时使用）
          # git_pull_args: --ff-only
          
          # 可选：如果想显示更多日志
          # verbose: true

      - name: Show sync status
        run: |
          echo "Sync completed."
          git log --oneline --graph --decorate -n 5
